.scrollTop {
  position: fixed;
  bottom: 800px;
  width: 45px;
  right: 40px;
  height: 45px;
  background: transparent url(../img/Arrow.png);
  border-radius: 50%;
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.scrollTop.active {
  visibility: visible;
  bottom: 40px;
  opacity: 1;
}
