* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", "sans-serif";
  float: none;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  display: grid;
  grid-row-gap: 8rem;
  background: url("../img/Mountain.png") no-repeat center center/cover;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

body.light {
  background: blueviolet;
}

#snow_fall {
  z-index: -2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #252627;
  position: absolute;
  opacity: 0.9;
}

body.light #snow_fall {
  z-index: -2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  position: absolute;
  opacity: 0.9;
}

.container {
  padding: 0 50px 0 50px;
  grid-template-columns: 1fr;
}

.toggler {
  display: none;
}

.menu-btn_burger {
  display: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid white;
  padding: 20px 0;
  background-color: #252627;
  position: sticky;
  top: 0;
  z-index: 2;
}

body.light header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid white;
  padding: 20px 0;
  background-color: transparent;

  top: 0;
  z-index: 2;
}

header h1,
.text p,
.about h1,
.skills h1,
.contact h1,
.sociallink h1 {
  color: #707070;
}

body.light header h1,
.text p,
.about h1,
.skills h1,
.contact h1,
.sociallink h1 {
  color: #fff;
}

body.light header h1:hover {
  z-index: 1000;
  transition: 0.5s;
  color: #ffd700;
  text-shadow: 0 0 5px ffd700;
}

header h1:hover {
  z-index: 1000;
  transition: 0.5s;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

header a {
  color: #ffd700;
}

header a:hover {
  z-index: 1000;
  transition: 0.5s;
  color: #ffff00;
  text-shadow: 0 0 5px #ffff00;
}

.toggle {
  background-color: blueviolet;
  position: absolute;
  top: 30px;
  z-index: 5;
  right: 140px;
  width: 20px;
  height: 20px;
  font-size: 15px;
  border-radius: 50%;
}

.toggle:before {
  content: "Soft mode";
  position: absolute;
  white-space: nowrap;
  left: 25px;
  font-weight: 600;
  color: #fff;
}

body.light .toggle {
  background: #252627;
  color: #252627;
}

body.light .toggle:before {
  content: "Dark mode";
  position: absolute;
  white-space: nowrap;
  left: 25px;
  color: #252627;
}

nav li {
  list-style: none;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
  display: inline-grid;
}

span.name {
  color: #ed5565;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
  font-weight: 600;
  margin-top: 5px;
}

.text a {
  padding: 12px 25px;
  margin-bottom: 30px;
  background-color: none;
  border: 3px solid #ed5565;
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: 0.5s;
  display: inline-block;
  text-decoration: none;
}

.text a:hover {
  color: #fff;
}

.text a::before {
  content: "";
  background-color: #ed5565;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: 0.5s;
}

.text a:hover::before {
  height: 100%;
}

.profile-image img {
  max-width: 225px;
  height: auto;
  margin-top: 25px;
  border: none;
  opacity: 0.5;
}

.about h1 {
  font-size: 9rem;
  z-index: 0;
  opacity: 0.4;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 0 0.8rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -50px;
  left: 10%;
  right: 50%;
  transform: translateX(-50px);
  z-index: 1;
}

body.light .about-me-info {
  max-width: 900px;
  background-color: transparent;
  box-shadow: 0 0 0 0.8rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -50px;
  left: 10%;
  right: 50%;
  transform: translateX(-50px);
  z-index: 1;
}

.about-me-info p {
  font-size: 1.2rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.skills h1 {
  text-align: right;
  font-size: 9rem;
  opacity: 0.4;
}

.skills-info {
  font-size: 1.2rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 15%;
  right: 50%;
  transform: translateX(-55px);
  text-align: center;
}

.contact h1 {
  text-align: center;
  font-size: 5rem;
  opacity: 0.4;
}

.sociallink h1 {
  text-align: center;
  font-size: 5rem;
  opacity: 0.4;
}

#circleBar h1 {
  text-align: center;
  font-size: 10rem;
  opacity: 0.4;
}

form input,
form textarea {
  display: block;
  width: 400px;
  padding: 10px;
  background-color: #252627;
  border: 3px solid #707070;
  margin: 20px 0;
  outline: none;
  font-size: 1.1rem;
  color: #fff;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}

body.light form input,
form textarea {
  background-color: transparent;
}

form input:last-child {
  width: 150px;
  background-color: #ed5565;
  border: none;
  cursor: pointer;
}

footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.1rem;
  text-align: center;
  padding: 30px 0;
}

body.light footer p {
  color: #ffff;
}

@media screen and (max-width: 900px) {
  body {
    grid-auto-columns: 100%;
  }

  header {
    border: none;
  }

  header h1 {
    display: none;
  }

  .toggle {
    background-color: blueviolet;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 50%;
  }

  body.light .toggle:before {
    content: "Dark mode";
    position: absolute;
    white-space: nowrap;
    left: 25px;
    color: #ffd700;
  }

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  }

  .navbar .toggler {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    z-index: 4;
    cursor: pointer;
    width: 45px;
    height: 45px;
    opacity: 0;
    margin: 1.4rem;
  }

  .navbar .menu-btn_burger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 60px;
    height: 60px;
    margin: 1.3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  /*Hamburger lines*/

  .navbar .menu-btn_burger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  /* Top and bottom line */
  .navbar .menu-btn_burger > div:before,
  .navbar .menu-btn_burger > div:after {
    content: "";
    position: absolute;
    z-index: 3;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  /* Move line down */
  .navbar .menu-btn_burger > div:after {
    top: 10px;
  }

  /* Toggler Animation */
  .navbar .toggler:checked + .menu-btn_burger > div {
    transform: rotate(135deg);
  }

  /* Turn lines into X */
  .navbar .toggler:checked + .menu-btn_burger > div:before,
  .navbar .toggler:checked + .menu-btn_burger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  /* Show menu */
  .navbar .toggler:checked ~ header {
    visibility: visible;
  }

  .navbar .toggler:checked ~ header nav {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .navbar .toggler:checked ~ header nav > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }

  .navbar header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar header nav {
    background: rgba(0, 0, 0, 0.8);
    width: 95%;
    height: 97%;
    margin: 0;
    padding: 0;
    position: fixed;
    border-radius: 60px;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .navbar header nav > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .navbar header nav > div > ul > li {
    list-style: none;
    margin: 0;
    padding: 10px;
  }

  .navbar header nav > div > ul > li > a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    top: 50%;
    bottom: 50%;
    border-bottom: #fff solid 1px;
    padding: 5px;
  }

  header {
    justify-content: center;
    padding: 23px;
    border-radius: 60px;
    border: #fff solid 2px;
    background-color: transparent;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .text {
    margin-top: 5rem;
  }

  .about h1 {
    font-size: 7rem;
    z-index: 0;
    opacity: 0.4;
  }

  .about-me-info {
    max-width: 782px;
    background-color: #252627;
    box-shadow: 0 0 0 0.8rem rgba(0, 0, 0, 0.25);
    padding: 50px;
    position: relative;
    top: -30px;
    left: 10%;
    right: 50%;
    transform: translateX(-50px);
    z-index: 1;
  }

  .skills h1 {
    text-align: right;
    font-size: 7rem;
    opacity: 0.4;
  }

  .sociallink h1 {
    text-align: center;
    font-size: 3rem;
    opacity: 0.4;
  }

  .contact h1 {
    text-align: center;
    font-size: 3rem;
    opacity: 0.4;
  }

  form input,
  form textarea {
    display: block;
    width: 300px;
    padding: 10px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0;
    outline: none;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  footer hr {
    border: 2px solid #707070;
  }

  footer p {
    text-align: center;
    color: #707070;
    font-size: 0.9rem;
    text-align: center;
    padding: 30px 0;
  }
}
